

input[type=text], select {

    border: 3px solid #555;
    width:  500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 25px;
    box-sizing: border-box;
  }

  #navdiv{
    float: right;
  }